<!DOCTYPE html>
<html>
  <head>
    <title>Tab Title</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Page Header</h1>
    <p>Razor @Model.Property</p>
  </body>
</html>