@{
  Layout = "_Layout";
}
<div class="container">
  <h1>Search Cars for Sale</h1>
  <form action="/results" method="">
    <div class="form-group">
      <label for="maxPrice">Enter maximum price:</label>
      <input id="maxPrice" name="maxPrice" type="number">
    </div>
    <div class="form-group">
      <label for="maxMiles">Enter maximum miles:</label>
      <input id="maxMiles" name="maxMiles" type="number">
    </div>
    <button type="submit">Search</button>
  </form>
  <a href="/">Return to Listings</a>
</div>